[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
streamlit = "*"
tiktoken = "*"
faiss-cpu = "*"
protobuf = "*"
google-generativeai = "*"
instructorembedding = "*"
torch = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
